# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Byte-compiled / optimized / DLL files
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.manifest
*.spec

# ----------------------------
# Django
# ----------------------------
*.sqlite3
db.sqlite3
staticfiles/
media/
*.log
.env
.env.*    # For split env files e.g. .env.dev, .env.prod

# ----------------------------
# Docker
# ----------------------------
*.pid
*.seed
*.bak
*.tmp
*.swp
.dockerignore
docker-compose.override.yml

# Docker volumes
volumes/
postgres_data/

# ----------------------------
# Virtual Environments
# ----------------------------
env/
venv/
ENV/
.venv/
.env/

# ----------------------------
# IDEs & Editors
# ----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db
.AppleDouble
.LSOverride

# ----------------------------
# Testing & Coverage
# ----------------------------
.coverage
.coverage.*
.tox/
nosetests.xml
coverage.xml
*.cover
htmlcov/
.pytest_cache/
test-results/

# ----------------------------
# Git
# ----------------------------
.git/

# ----------------------------
# Node.js & JS Tooling
# ----------------------------
node_modules/
.pnpm-store/
.pnp.*
dist/
build/
.cache/
